.carts {
	box-shadow: 10px 10px 20px #ffc6e9;
	border: none;
	/* background-image: url(../Header/images/gra-2.jpg); */
}

.carts:hover {
	box-shadow: 4px 4px 7px gray;
	border-radius: 10px;
	border: 1px solid #fbff04;
	background: white;
}