.footer-text {
	color: white;
	font-weight: 500;
	text-shadow: white;
}

.footer-text h6 {
	color: white;
	font-weight: 700;
	text-shadow: white;
}

.footer-bg {
	background-image: url(../../images/footer/footer-bg.jpg);
	/* background-color: coral; */
}